@import 'tailwindcss';

.hero-background {
  background-image: url('/images/home/heroBackground.png');
}
.landmark-background {
  background-image: url('/images/home/landmarkBackground.jpg');
}
.experience-background {
  background-image: url('/images/home/experienceBackground.jpg');
}
.travel-background {
  background-image: url('/images/home/travelBackground.jpg');
}
.trip-background {
  background-image: url('/images/home/tripBackground.jpg');
}

:root {
  --font-heading: var(--font-cormorant);
  --font-body: var(--font-geist-mono);
}

body {
  font-family: var(--font-body);
}

h1,
h2 {
  font-family: var(--font-heading);
}

.text-shadow-red {
  text-shadow: -3px -2px 8px rgba(233, 8, 8, 0.535);
}
.text-shadow-white {
  text-shadow: -3px -2px 8px rgba(248, 244, 244, 0.5);
}

.image-card-shadow {
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.08);
}

.stack-item {
  opacity: 0;
}

.stack-item:first-child {
  opacity: 1;
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
